<div class="navBar">
  <h1 class="pageTitle">Movie Details</h1>
  <app-search-criteria></app-search-criteria>
</div>

<div *ngIf='movie' class='movie-detail'>
    <img src="{{imagePath}}{{movie.poster_path}}">
    <h2>{{ movie.title }} ({{ movie.release_date | date:'yyyy' }})</h2>
    {{ movie.overview }}
</div>

<!-- <a [routerLink] = "src/app/movie-list/movie-list.component.html">Go Back</a> -->

    <!-- <div>
      <label>name:
        <input [(ngModel)]="movie.title" placeholder="movie"/>
      </label>
    </div>  -->