<div class="navBar">
  <h1 class="pageTitle">Movie Details</h1>
</div>

<div *ngIf='movie' class='movie-detail'>
    <img class='imageClass' src="{{imagePath}}{{movie.poster_path}}">
    <div class = 'heading'>
      <h2>{{ movie.title }} ({{ movie.release_date | date:'yyyy' }})</h2> 
      
    </div>
    <p class = 'overview'>
      {{ movie.overview }}
    </p>
      <!-- {{ movie.original_language }} -->
      <!-- original_language uses abbreviations, i.e. English = 'en'. Need custom pipe to transform data to be legible, but I don't have time to finish that -->
    <!-- <button class = 'addToWatchListBtn' (click)='addToWatch(movies[i])'>Add to Watch List</button> -->
    <!-- including Watch List Button would require another ngFor loop, not enough time for that -->
    <button class='backToListBtn' (click)='backClicked()'>Back to Movies</button>
</div>
