<div class="navBar">
  <h1 class="pageTitle">Movie Details</h1>
</div>

<div *ngIf='movie' class='movie-detail'>
    <img class='imageClass' src="{{imagePath}}{{movie.poster_path}}">
    <div class = 'heading'>
      <h2>{{ movie.title }} ({{ movie.release_date | date:'yyyy' }})</h2> 
      
    </div>
    <p>
      {{ movie.overview }}
    </p>
      {{ movie.spoken_languages[name] }}
    <button class = 'addToWatchListBtn' (click)='addToWatch(movies[i])'>Add to Watch List</button>
    <button class='backToListBtn' (click)='backClicked()'>Back to Movies</button>
</div>
