<base href="/">
<form #f="ngForm" (ngSubmit)="getSearch(f)">
    <input type="text" class="form-control" id="searchInput1" placeholder="Search..." name="query" ngModel/>
    <button type="submit" class="searchBtn">Search by Title</button>
</form>
<form class="form-container"#g="ngForm" (ngSubmit)="getCriteria(g)">
    <label for="language">Language</label>
    <select id="language" name="language" ngModel>
        <option value="en" selected>English</option>
        <option value="es">Spanish</option>
        <option value="de">German</option>
    </select>
    <label for="year">Year Released</label>
    <input type="number" min="1888" id="year" name="year" ngModel>
    <label for="adult">Not for Kids</label>
    <input type="checkbox" id="adult" name="adult" ngModel>
    <button class="submitBtn" type="submit">Search by Criteria</button>
</form>
