<base href="/">
<form #f="ngForm" (ngSubmit)="getSearch(f)">
    <input type="text" class="form-control" id="searchInput1" placeholder="Search..." name="query" ngModel/>
    <button type="submit" class="searchBtn">Search by Title</button>
</form>
<form #g="ngForm" (ngSubmit)="getCriteria(g)">
    <label for="genre">Genre</label>
    <input type="text"  id="genre" name="genre" ngModel>
    <label for="year">Year Released</label>
    <input type="number" min="1888" id="year" name="year" ngModel>
    <label for="adult">Adult Movies?</label>
    <input type="checkbox" id="adult" name="adult" ngModel>
    <button type="submit">Search by Criteria</button>
</form>