<base href="/">
<title>Movies</title>
<div class="navBar">
    <h1 class="pageTitle">Movies</h1>
    <app-search-criteria></app-search-criteria>
</div>
   
   <ul class="movie-container">
       <li *ngFor="let movie of movies">
            <a routerLink='/detail/{{ movie.id }}'>
            {{movie.title}}
       
            <img class="imageClass"src={{imagePath}}{{movie.poster_path}}>
            </a>
            <!-- code, pre-routing: [class.selected] = 'movie === selectedMovie'            
            (click) = 'onSelect(movie)' -->
                <!-- [class.selected] = CSS property to visually indicated that movie is clicked on to select -->
        
       </li>
   </ul>   

    
<!-- Doug is trying some stuff out for parent/child binding between movie-list and movie-details -->
<!-- <ul class = 'movies'>
    <li *ngFor='let movie of movies'
    [class.selected] = 'movie === selectedMovie'
    (click) = 'onSelect(movie)'>
    <span class="badge">{{movie.title}}</span> ( {{ movie.release_date }} ){{ movie-image-url-part1 }} {{ movie-image-url-part2 }} -->
    <!-- I think only year is necessary for release date -->
    <!-- </li>
</ul> -->

<!-- <app-movie-detail [movie]='selectedMovie'></app-movie-detail> -->

