* {
    margin: 0;
    padding: 0;
    }
.pageTitle{
    display: flex;
    justify-content: flex-start;
    font-size: 40px;
    font-family: 'Dosis', sans-serif;
}
.navBar{
    display: flex;
    justify-content: space-between;

    width: 100%;
}
.movie-container{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
}

.imageClass{
    height: 300px;
    width: auto;

}

.movie-container li {
    font-family: Dosis, sans-serif;
    /* display: flex;
    flex-direction: column; */
}

.movie-container li:hover {
    background-color: #CFD8DC;
}

.movie-container li.selected {
  background-color: #CFD8DC;
  color: white;
}
.movie-container li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}

/* .movie-container img {
    width: 100%;
} */