<base href="/">
<title>Movies</title>
<div class="navBar">
    <h1 class="pageTitle">Movies</h1>
    <app-search-criteria></app-search-criteria>
</div>   
   <ul class="movie-container">
       <li class="movieCard" *ngFor="let movie of movies">
        <div class="movieTitle"></div>
       <img class="imageClass"src={{imagePath}}{{movie.poster_path}}>
       </li>
   </ul>

<!-- Doug is trying some stuff out for parent/child binding between movie-list and movie-details -->
<!-- <ul class = 'movies'>
    <li *ngFor='let movie of movies'
    [class.selected] = 'movie === selectedMovie'
    (click) = 'onSelect(movie)'>
    <span class="badge">{{movie.title}}</span> ( {{ movie.release_date }} ){{ movie-image-url-part1 }} {{ movie-image-url-part2 }} -->
    <!-- I think only year is necessary for release date -->
    <!-- </li>
</ul> -->

<app-movie-detail ></app-movie-detail>
<!-- <app-movie-detail [movie]='selectedMovie'></app-movie-detail> -->
    <app-search-criteria [searchResults]='searchResults' (onSearch)="searched($event)"></app-search-criteria>
<button (click)="lastPage()">Last Page</button>
<button (click)="nextPage()">Next Page</button>
<li *ngFor='let movie of movies'>
    <h1>{{movie.title}}</h1>
    <h2>{{movie.overview}}</h2>
    <h3>{{movie.release_date}}</h3>
    <img src="{{imagePath}}{{movie.poster_path}}">
</li>


